@model IEnumerable<Appointment.ViewModel.Models.ReminderViewModel>

@(Html.Kendo().Grid(Model)
                            .Name("Grid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.Title);
                                columns.Bound(p => p.Subject);
                                columns.Bound(p => p.Date);
                                columns.Command(command => { command.Edit(); command.Destroy(); /*command.Custom("Details").Click("showDetails");*/ }).Width(250);
                            })
                            .ToolBar(toolbar => toolbar.Create())
                            .Editable(editable => editable.Mode(GridEditMode.InLine))
                            .Pageable(pageable => pageable
                                     .Refresh(true)
                                     .PageSizes(true)
                                     .ButtonCount(5))
                            .Sortable()
                            .Selectable()
                            .Navigatable()
                            .Scrollable()
                            .Groupable()
                            .ColumnMenu()
                            .Filterable(filterable => filterable.Mode(GridFilterMode.Row))
                            .DataSource(dataSource => dataSource
                                .Server()
                                .PageSize(20)
                                .Model(model => model.Id(p => p.Id))
                                .Read("Index", "Home")
                                .Update("Update", "Home")
                                .Create("Create", "Home")
                                .Destroy("Destroy", "Home")

                            )
)

@*@(Html.Kendo().Window().Name("Details")
            .Title("Customer Details")
            .Visible(false)
            .Modal(true)
            .Draggable(true)
            .Width(300)
)

<script type="text/x-kendo-template" id="template">
    <div id="details-container">
        <h2>#= FirstName # #= LastName #</h2>
        <em>#= Title #</em>
        <dl>
            <dt>City: #= City #</dt>
            <dt>Address: #= Address #</dt>
        </dl>
    </div>
</script>

<script type="text/javascript">
    var detailsTemplate = kendo.template($("#template").html());

    function showDetails(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#Details").data("kendoWindow");

        wnd.content(detailsTemplate(dataItem));
        wnd.center().open();
    }
</script>*@

<script type="text/javascript">
    $(document).ready(function () {
        $("form.k-edit-form").kendoValidator();
</script>


