
@{
    ViewBag.Title = "Create";
}

<h2>Create new reminder</h2>

<form method="get" action="@Url.Action("NewEmployeeReminder", "Reminder")" class="form-group">

    <div>
        <input type="submit" Value="Employee" onclick="" class="btn btn-primary">
    </div>
</form>



<form method="get" action="@Url.Action("NewGeneralReminder", "Reminder")" class="form-group">

    <div>
        <input type="submit" Value="General" onclick="" class="btn btn-primary">
    </div>
</form>
