@model IEnumerable<Appointment.ViewModel.Models.CalendarViewModel>

@{
    ViewBag.Title = "Calender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-md-12">
        @(Html.Kendo().Grid(Model)
              .Name("CalendarGrid")

              .Columns(columns =>
              {
                  columns.Bound(p => p.Name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains).Delay(3000)));
                  columns.Bound(p => p.TheDate).Format("{0:dd/MM/yyyy}");

                  // columns.Bound(p => p.BirthDate).Format("{0:dd/MM/yyyy}");
              })
              .Editable(editable => editable.Enabled(false).Mode(GridEditMode.InCell))
              .Pageable(pageable => pageable
                       .Refresh(true)
                       .PageSizes(true)
                       .ButtonCount(5))
              .Sortable()
              .Navigatable()
              .Scrollable()
              .Selectable(selectable => selectable.Enabled(true).Mode(GridSelectionMode.Single).Type(GridSelectionType.Row))
              .ColumnMenu()
              .Filterable(filterable => filterable.Mode(GridFilterMode.Row))
              .DataSource(dataSource => dataSource
                  .Server()
                  .PageSize(20)
                  .Model(model => model.Id(p => p.ID))
                  .Read("Index", "Calendar")


              )
        )


    </div>

</div>

<style>
    .k-grid .k-state-selected {
        background: #1cacff;
        color: #000000;
    }

    .k-grid tr.k-state-selected:hover {
        background-color: #c5f1ff;
    }
</style>
@*///////////////////////////////////////////////////////////*@
<style>
    /*.img {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }*/

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
</style>

@*///////////////////////////////////////////////////////////*@
<script type="text/javascript">

    $(document).ready(function () {
        $("form.k-edit-form").kendoValidator();
    });
</script>


@*/////////////////////////////////////*@
@*<script >
function GetImage(image) {
    var returnString = '<img src="~/img/Untitled11.png" title=\"image\" height=\"24\" alt=\"image\" />';
    return returnString;
}
</script>*@

