@model IEnumerable<Appointment.ViewModel.Models.CalendarViewModel>

@{
    ViewBag.Title = "Calendar";
}


<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-md-12">
        @(Html.Kendo().Grid(Model)
              .Name("CalendarGrid")

              .Columns(columns =>
              {
                  columns.Bound(p => p.Name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains).Delay(600000)));
                  columns.Bound(p => p.TheDate).Format("{0:MM/dd/yyyy}");/*.Filterable(f => f.UI());*/
              })
              .Editable(editable => editable.Enabled(false).Mode(GridEditMode.InCell))
              .Pageable(pageable => pageable
                       .Refresh(true)
                       .PageSizes(true)
                       .ButtonCount(5))
              .Sortable()
              .Navigatable()
              .Scrollable()
              .Selectable(selectable => selectable.Enabled(true).Mode(GridSelectionMode.Single).Type(GridSelectionType.Row))
              .ColumnMenu()
              .Filterable(filterable => filterable.Mode(GridFilterMode.Row))
              .DataSource(dataSource => dataSource
              .Ajax()
                  .PageSize(20)
                  .Model(model => model.Id(p => p.ID))
                  .Read(read => read.Action("Read", "Calendar") )


              )
        )


    </div>

</div>

<style>
    .k-grid .k-state-selected {
        background: #1cacff;
        color: #000000;
    }

    .k-grid tr.k-state-selected:hover {
        background-color: #c5f1ff;
    }
</style>


@*///////////////////////////////////////////////////////////*@
<script type="text/javascript">

    $(document).ready(function () {
        $("form.k-edit-form").kendoValidator();
    });
</script>


@*/////////////////////////////////////*@
@*<script >
    function GetImage(image) {
        var returnString = '<img src="~/img/Untitled11.png" title=\"image\" height=\"24\" alt=\"image\" />';
        return returnString;
    }
    </script>*@

